# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-lgtm'
      'submenu': [
        {
          'label': 'LGTM!'
          'command': 'atom-lgtm:lgtm'
        }
      ]
    ]
  }
]
